<article class="post">
    <header>
        <div class="title">
            <h2><a href="posts/2024-07-01-aitransport.html">AI in Transport</a></h2>
            <p>How could AI be applied in our transport infrastructures and how can it affect us?</p>
        </div>
        <div class="meta">
            <time class="published" datetime="2024-07-01">July 1st, 2024</time>
            <a href="AboutMe.html" class="author"><span class="name">Irene<br>Salazar Medina</span><img src="images/profile_cropped.jpg" alt="" /></a>
        </div>
    </header>
    <a href="posts/2024-07-01-aitransport.html" class="image featured"><img src="images/posts/2024-07-01/traffic-intersection.png" alt="" /></a>
    <p><b>~2 min read</b><br>With the rising interest in AI and its application in transport, let's have a look at what the benefits and challenges of doing so are.</p>
    <footer>
        <ul class="actions">
            <li><a href="posts/2024-07-01-aitransport.html" class="button large">Continue Reading</a></li>
        </ul>
    </footer>
</article>